	<section id="view" class="view_saferoom">
		<div id="parameters"></div>
		<ul id="parameters_dropdown">
			<li><a href="#accesRoom">Leave this kokoon</a></li>
			<li><a href="#logout">Logout</a></li>
		</ul>
		<span id="red_string">
			<span></span>
		</span>
		<ul id="saferoom_timeline">

        </ul>
		<div id="barometer">
            <div id="widget-video"></div>
			<div id="widget-text"></div>
			<div id="widget-watch"></div>
			<div id="widget-delete"></div>
			<div id="widget-more"></div>
		</div>
		<span id="barometer_btn"></span>
	</section>