		<div id="parameters"></div>
		<div id="logo"></div>
		<div id="formNewRoom" class="form">
			<p>A Kokoon is shared by 2 people, enter the email of your partner:</p>
			<input type="email" id="emailRoom" name="2nd_participant" placeholder="Your partner Email"  value="katsumi@kokoonapp.com"/>
			<p>Choose a passcode that you will both remember: the bar where you met, your favorite song, ...</p>
			<input type="text" id="pwc" name="passcode" placeholder="passcode" value="" />
			<input id="btnCreateRoom" type="button" name="create" value="Create" />
			<a href="#accesRoom" class="form_link">Back</a>
		</div>