	<section id="view" class="view_saferoom_access">
    	<div id="parameters"></div>
		<ul id="parameters_dropdown">
			<li><a href="#logout">Logout</a></li>
		</ul>
		<div id="logo"></div>
		<div id="form_saferoom_go" class="form">
			<p>Enter a KoKoon code to access it</p>
			<input id="saferoom_input" class="saferoom_code" type="text" placeholder="kokoon code" value="" />
			<input id="enter_safeRoom" type="button" class="btn_small" />
		</div>
		<div id="form_saferoom_add" class="form">
			<p>Create a new KoKoon</p>
			<input id="add_safeRoom" type="button" class="btn_small btn_add"/>
		</div>
	</section>
